<!--@Include(/Razor/functions/navigation.cshtml)-->

@using System.Text.RegularExpressions;

@{
var newsItems = GetLoop("ItemPublisher:Items.List");
}
<div class="news news-items">
	@if (newsItems.Count < 1) {
		<div class="alert warning">
			<!--@Translate(No_news_found, "No news found")-->
		</div>
	} else {
		foreach (var newsItem in newsItems) {
			var url = newsItem.GetValue("ItemPublisher:Item.Url");
			var excerpt = newsItem.GetString("ItemPublisher:Item.Excerpt");
			if (string.IsNullOrEmpty(excerpt)) {
				excerpt = newsItem.GetString("ItemPublisher:Item.Content");
			}
			if (!string.IsNullOrEmpty(excerpt)) {
				excerpt = Regex.Replace(excerpt, "<.*?>", string.Empty);
			}
			var author = new {
				name = newsItem.GetString("ItemPublisher:Item.Author_Name"),
				email = newsItem.GetString("ItemPublisher:Item.Author_EMail")
			};

			<article class="news-item">
				<header>
					<a href="@url">
						<h1 class="title">@newsItem.GetValue("ItemPublisher:Item.Title")</h1>
					</a>

					<div class="well clearfix">
						<img class="author-image" src="http://www.gravatar.com/avatar/@Dynamicweb.Base.MD5HashToString(author.email)?d=identicon" alt="@author.name" />
						<span class="author-name">@author.name</span>
						<span class="publication-time">
 							<span class="date">@string.Format("{0:D}", newsItem.GetValue("ItemPublisher:Item.Publication_Time"))</span>
							<!--<span class="time">@string.Format("{0:t}", newsItem.GetValue("ItemPublisher:Item.Publication_Time"))</span>-->
						</span>
					</div>
				</header>

				<div class="excerpt">@excerpt</div>
				<div class="read-more"><a href="@url"><!--@Translate(Read_more, "Read more")--></a></div>
			</article>
		}

		var currentPage = GetInteger("ItemPublisher:Items.Paging.CurrentPage");
		var numberOfPages = GetInteger("ItemPublisher:Items.Paging.TotalPages");

		<ul class="pager">
			@if (currentPage > 1) {
				<li class="previous">
					<a href="@BuildUrl(new { Page = currentPage-1 })">&larr; <!--@Translate(Newer_news, "Newer news")--></a>
				</li>
			}
			@if (currentPage < numberOfPages) {
				<li class="next">
					<a href="@BuildUrl(new { Page = currentPage+1 })"><!--@Translate(Older_news, "Older news")--> &rarr;</a>
				</li>
			}
		</ul>
	}
</div>
