<!--@MasterPageFile(Master/Main.cshtml)-->
<!--@Layout.Title(Calendar Event)-->
<!--@Layout.Description()-->

<section class="calendar-event">
	<header>
	  <h1>@GetValue("Item.Title")</h1>
  </header>

  <dl>
		@if (GetBoolean("Item.Is_All_Day")) {
    	<dt>Start time</dt>
			<dd class="start-time">@GetDate("Item.Start_Time").ToString("d")</dd>

			<dt>End time</dt>
			<dd class="end-time">@((!string.IsNullOrEmpty(GetString("Item.End_Time")) ? GetDate("Item.End_Time") : GetDate("Item.Start_Time")).ToString("d"))</dd>

			<dt>All day event</dt>
			<dd class="is-all-day"><i class="icon-check"></i></dd>
		} else {
    	<dt>Start time</dt>
			<dd class="start-time">@GetDate("Item.Start_Time")</dd>

			<dt>End time</dt>
			<dd class="end-time">@(!string.IsNullOrEmpty(GetString("Item.End_Time")) ? GetDate("Item.End_Time") : GetDate("Item.Start_Time"))</dd>
		}

		<dt>Description</dt>
		<dd class="description">@GetValue("Item.Description")</dd>

		<dt>Location</dt>
		<dd class="location">@GetValue("Item.Location")</dd>
	</dl>
</section>
